
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
  margin: 0px;
  padding: 0px;
  background: #1a1a1a;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
canvas {
  background: #ddd;
}

.roundish{
  padding: 7px 10px ;
  border-radius: 10px;
  color: white;
}

#gui > .close-button {
  background: #e6bf00;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: none;
  padding: 7px;
  vertical-align: middle;
}

#colorLegend {
  position: absolute;
  bottom: 10;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

#colorLegend > li {
  padding: 3px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #555;
  width: 125px;
}

#colorLegend > li > span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
}

#chartContainer {
  position: absolute;
  left: 15px;
  top: 2px;
  height: 250px;
  width: 350px;
}

#chart {
  background: rgba(47,161,214,0.2);
  border: solid rgb(47,161,214);
  border-radius: 20px;
}

#capacity {
  border-bottom: dotted rgba(0,0,0,0.2) 5px;
  position: relative;
  color:white;
  top: 65px;
  left: 2px;
  text-align: left;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  #gui { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  #chartContainer {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  #chartContainer > canvas {
    position: relative;
    top: -2px;
  }
  
}

/*INIT MENU*/
.menu-container{
  position: absolute; 
  left: 50%;
  top: 30%;
  z-index: 10;
}
.blur_effect { 
    filter: blur(5px); 
} 
.menu{
  color: white;
  transition: 2s;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  position: relative; left: -50%; 
  background-color: #1B1B1B;
  border: 5px #262626;
  border-style: solid
}
/*INIT MENU*/


button {
  bottom: 30px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff0048;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.0, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.0, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ff0048;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
