
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
  margin: 0px;
  padding: 0px;
  background: #1a1a1a;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
canvas {
  background: #ddd;
}

.roundish{
  padding: 7px 10px ;
  border-radius: 10px;
  color: white;
}
#gui{
  visibility: hidden;
}
#gui > .close-button {
  background: #e6bf00;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: none;
  padding: 7px;
  vertical-align: middle;
}

#colorLegend {
  position: absolute;
  bottom: 10;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}

#colorLegend > li {
  padding: 3px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #555;
  width: 125px;
}

#colorLegend > li > span {
  height: 20px;
  width: 20px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
}

#chartContainer {
  position: absolute;
  left: 15px;
  top: 2px;
  height: 250px;
  width: 350px;
}

#chart {
  background: rgba(47,161,214,0.2);
  border: solid rgb(47,161,214);
  border-radius: 20px;
}

#capacity {
  border-bottom: dotted rgba(0,0,0,0.2) 5px;
  position: relative;
  color:white;
  top: 65px;
  left: 2px;
  text-align: left;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  #gui { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  #chartContainer {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
  #chartContainer > canvas {
    position: relative;
    top: -2px;
  }
  
}

/*INIT MENU*/
.menu-container{
  position: absolute; 
  left: 50%;
  top: 15%;
  z-index: 10;
}
.blur_effect { 
    filter: blur(5px); 
} 
.menu{
  color: white;
  transition: 2s;
  height: 500px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  position: relative; left: -50%; 
  background-color: #1B1B1B;
  border: 5px #262626;
  border-style: solid
}
@media only screen and (max-width: 600px) { 
    html {
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
    }
    body {
      position: relative;
      margin: 0 auto;
      overflow: hidden;
    }
    .menu-container{
      left: 50%;
      top: 10%;
      width: 90%;
    }
    .menu{
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #1B1B1B;
      border: 5px #262626;
      border-style: solid
    }    
}
/*INIT MENU*/


/*COOL BUTTON*/
button {
  bottom: 30px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff0048;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.0, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.0, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ff0048;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
/* COOL BUTTON */



/*EXPANDING CARDS */
.card {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.20);
    border-radius: 2px;
    background-color: #2B2B2B;
    height: 88px;
    max-width: 500px;
    overflow: hidden;
    z-index: 10;
    transition: 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
    
    /* to position in middle */  
    margin: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*SCROLLBAR*/
.scrollbar
{
	height: 80%;
	width: 100%;
	overflow-y: scroll;
}
.force-overflow
{
	min-height: 650px;
}
#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*SCROLLBAR */


.cardActive {
    height: 332px;
}
.cardActive .nonSharedContent {
    /* When closing, wait 75ms before fading and fade for longer */
    transition: 150ms;
    transition-delay: 75ms;
    opacity: 1;    
    overflow:auto;
    height: 200px;
}
.nonSharedContent {
    transition: 75ms;
    opacity: 0;
}
.cardHeader {
    cursor: pointer;
    width: 100%;
    height: 72px;
    padding-top: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.cardHeaderTextContainer {
    display: inline-block;
    height: 100%;
    padding-top: 4px;
    width: auto;
}
.cardHeaderTitle {
    width: 184px;
    height: 16px;
    margin-bottom: 16px;
}
.cardHeaderSupportingText {
    color: darkgray;
    height: 13px;
    width: 136px;
}
.cardAvatarContainer {
    display: inline-block;
    margin: 0 16px;
    height: 100%;
    float: left;
}
.cardAvatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e6bf00;
    display: inline-block;
}
.greySquaresContainer {
    width: 210%;
    padding: 10px;
}
.greySquare {
    background-repeat: no-repeat;
    background-position: center;    
    margin: 8px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ededed;
    border-radius: 50%;
}
.greySquare:hover {
    filter: invert();
}
.greyLine {
    width: 90%;
    height: 16px;
    margin: 24px 16px;
}
.greyLine:first-of-type {
    width: 220px;
    margin: 0 16px;
}
/*EXPANDING CARDS */




/*HOVER*/
.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}
/*HOVER*/